html body {
    min-width: 1170px;
    width: 100%;
    min-height: 100%;
    font-size: 15px;
    font-family: 'Open Sans';
    color: #28282e;
    cursor: default;
    background: #f1f1f1;
    line-height: 24px;
    text-size-adjust:none;
}
ol, ul {list-style: none;}
table {border-collapse: collapse; border-spacing: 0;}
html {height: 100%;}
img {border: 0;}
input {vertical-align: top;}
a{color: #1ABC9C;}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: none;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    margin: 0; padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}

body {

}
h1{
    line-height: 50px;
}
h3{
    line-height: 60px;
}
.no-right {margin-right: 0 !important;}
.clear {clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;}
.fll{ float:left;}
.flr{ float:right;}
.tcenter{
    text-align:center;
}
.w100{
    width:100%;
}
.leftPanel{
    width: 270px;
    height:100%;
    background-color:#32323a;
    font-size:17px;
    color:#95a0aa;
    position:fixed;
}
.leftPanel a{
    color:#95a0aa;
}
.volta-cms{
    margin:0 auto;
    display:block;
    width:145px;
}
.sidebar-header{
    padding-top: 30px;
    background-color: #28282e;
    height:130px;
}
.sidebar-header-logo{
    width:121px;
    height:121px;
    border-radius:61px;
    border:4px solid #3b3b43;
    background-color: #ffffff;
    position:relative;
    top:10px;
    margin:0 auto;
    padding:4px;
}
.sidebar-header-logo-img{
    height:105px;
    width:105px;
    border-radius:53px;
    box-shadow: inset 0 0 4px 1px #cacdcf;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.sidebar-body{
    width: 100%;
    padding-top:60px;
}
.sidebar-body-name{
    color:#fff;
    font-size:18px;
    font-weight:600;
}
a.sidebar-body-web-link{
    color:#e7df00;
    font-size:13px;
}
.mainPanel{
    padding:24px 20px 50px 300px;
}
.add-big-button{
    width:100%;
    background-color: #1abc9c;
    color:#fff;
    display: inline-block;
    text-decoration: none;
    position: relative;
    text-align: center;
    line-height: 70px;
    font-size: 17px;
    font-weight: 600;
}
.plused-text{
    margin: auto;
    background: url('../images/add-plus.png') no-repeat scroll left center transparent;
    padding-left: 27px;
    display: inline-block;
}
td,th{
    padding:7px 7px 7px 17px;
    text-align: left;
}
table.items{
    width:100%;
    box-shadow: 0 0 2px 1px #e8e8e8;
}
table.items .button-column{
    width: 27px;
    /*padding: 5px 0 0 0;*/
}
table.items tr{
}
table.items tbody tr:hover{
    background-color: #bff2e7;
}
table.items tr:nth-child(even){
    background-color: #fff;
}
table.items thead tr{
    line-height:36px;
    background-color: #fbfbfb;
    border-bottom:1px solid #e8e8e8;

}
table.items thead{
    text-align: left;
}
table.items thead a{
    color:#28282e;
    text-decoration: none;
}
.table-white{
    width:100%;
    margin:20px 0 24px 0;
}
.table-white thead{
    background-color: #fbfbfb;
    text-align: left;
    border-bottom:1px solid #e8e8e8
}
.table-white tbody{
    background: #fff;
}
.table-white th, .table-white td{
    height:50px;
    padding-left:20px;
    padding-right:7px;
    vertical-align: middle;

}
.table-white input{
    width:100%;
    height:32px;
}
.image-box{
    width:70px;
    height:70px;
    display: block;
    overflow: hidden;
    float:left;
    background-color: #ebedee;
    border:1px solid #d7d7d7;
    margin-right:20px
}
.image-box img{
    margin:0 auto;
    height:70px;
    display: block;
}
.image-box.add{
    cursor:pointer;
    background-image: url('../images/add-image.png');
    background-position: center center;
    background-repeat: no-repeat;
}
.update{
    width:20px;
    height:20px;
    display: block;
}
.image-box .delete{
    display: block;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background: url('../images/delete.png') no-repeat scroll center center #f1f1f1;
    position: relative;
    top: -30px;
    left: 42px;
    border-radius: 14px 0 0 0;
}
input[type=text],textarea{
    border: 2px solid #DADEE0;
    line-height: 29px;
    padding: 4px 4px 4px 11px;
    font-size: 14px;
    color: #636363;
    border-radius: 3px;
}
textarea{
    line-height: 15px;
    width:300px;
    height:100px;font-family:"Open Sans"
}
input[type='checkbox']{
    width:0px;
    height:0px;
    display:none;

}
input[type='submit']{
    line-height: 45px;
    border:0px;
    border-radius: 2px;
    box-shadow: none;
    background-color: #19bc9c;
    color:#fff;
    padding-left:27px;
    padding-right:27px;
    min-width:170px;
    font-size:17px;
    font-weight:600;
    cursor: pointer;
}
.valign td{
    vertical-align: top;
}
.checkbox-label{
    cursor:pointer;
    height:22px;
    padding-left:26px;
    background: url('../images/checkbox.png') no-repeat 0 1px;
    display: inline-block;
    margin-bottom:10px;
    margin-top:10px;
    color:#8a9196;
    line-height: 22px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkbox:checked{

}
.checkbox:checked+.checkbox-label{
    background-position: 0 -21px;
}
.image-list{
    display: inline-block;
}
label.required{
    font-weight: 600;
    line-height: 43px;
}
.name-block-after-img{
    display: block;
    float:left;
    margin-top:-14px;
}
.drop-down-sidebar{
    opacity: 0;
    display: inline-block;
    position: absolute;
    width:100%;
    background-color:#32323a;
    margin-top:-66px;
    right:0;
    z-index: 999;
}
.sidebar-drop-btn:hover .drop-down-sidebar{
    opacity:1;
    transform: translate(270px,0);
    transition: transform 0.1s ease;
    -webkit-transform: translate(270px,0);
    -webkit-transition: -webkit-transform 0.1s ease;
    -moz-transform: translate(270px,0);
    -moz-transition: -moz-transform 0.1s ease;
    -ms-transform: translate(270px,0);
    -ms-transition: -ms-transform 0.1s ease;
}
.sidebar-bottom{
    height:60px;
    width:100%;
    position: relative;
    z-index: 1000;
}
select.styled{
    display: none;
}
ul.styled-select{
    display: inline-block;
    border-radius: 5px;
    max-width: 300px;
}
.selected-wrapper{
    display: table-cell;
    cursor: pointer;
    height: 50px;
    min-width: 100px;
    vertical-align: middle;
}
.opened.styled-select {
    padding:12px 0 12px 0;
    display: inline-block;
    background: #32323a;
    z-index: 10;
    position: absolute;
    transition:background 0.2s ease;
    transition:padding 0.2s ease;
}
ul.styled-select li{
    display: none;
    cursor: pointer;
}
ul.styled-select.opened li.selected{
    border:0;
    margin-left:0;
    margin-top: 0;
}
.select-selected,ul.styled-select li.selected{
    display: inline-block;
    color:#2cb4ac !important;
    border-bottom:1px dotted #2cb4ac;
    margin-top:0px;
    margin-left:17px;
    cursor: pointer;
}
.opened.styled-select li {
    display: inline-block;
    color:#fff;
    width: 100%;
    border-bottom: 0px;
    padding:0 10px 0 17px;
    margin:0;
    position:relative;
    z-index: 10;
}
ul.styled-select.opened li:hover{
    background-color: #306264
}
.delete{
    display: block;
    height:22px;
    width:20px;
    cursor: pointer;
    background: url('../images/delete.png') no-repeat scroll center center;
}
.block-list-floated{
    width:100%;
}
.block-list-floated .item-block{
    width:270px;
    display:inline-block;

    border-bottom:1px solid #e8e8e8;
    background-color: #fbfbfb;
    padding:8px;
    vertical-align: top;
    margin: 0 20px 24px 0;
}
.block-item .update{
    padding-top: 4px;
}
.block-item .delete{
    height:24px;
    padding-left:20px;
    padding-right:6px;
}
.block-item{
    display: inline-block;
    max-width:110px;
    line-height:24px;
    min-height: 70px;
}
.block-item>img{
    display: block;
    margin-right:7px;
}
.item-row:nth-child(even){
    background-color: #fff;
}
.sidebar-drop-btn h3{
    padding-left:20px;
    line-height:66px;
    cursor: pointer;
    border-bottom: 1px solid #3b3b43;
    position: relative;
    z-index: 1000;
    background-color:#32323a;

}
.sidebar-drop-btn h3:before{
    content: '';
    display: block;
    height:26px;
    width:13px;
    background: url("../images/lightning.png") no-repeat 0 0;
    float:left;
    margin-top: 21px;
    margin-right: 14px;
}
.sidebar-drop-btn:hover h3:before{
    background-position: 0 -26px;
}
.sidebar-menu-item a{
    width: 100%;
    padding-left:20px;
    line-height:35px;
    display: inline-block;
    border-bottom: 1px solid #3b3b43;
}
.sidebar-menu-item:hover, .sidebar-drop-btn:hover h3{
    background-color: #19bc9c;
    color:#fff;
}
.sidebar-menu-item:hover a{
color:#fff;
}
.sidebar-drop-btn.opened{
    background-color: #19bc9c;
    color:#fff;
}
/*order*/
.order-top{
    display: inline-block;
}
.mail-comment{
    background-color: #f9f9f9;
    width:470px;
    display: inline-block;
    margin-left:20px;
    padding:0 20px 24px 20px;
}
.mail-comment-header{
    width:100%;
    font-weight: 600;
    line-height: 54px;
}
.mail-sum{
    float:right;
    text-align: right;
    font-weight: 700;
    font-size:17px;
    line-height:50px;
}
.yiiPager{
    display: inline-block;
    text-align: center;
}
.yiiPager li{
    display: inline-block;
    padding:3px;
}
.yiiPager .page a{
    border:1px solid #1ABC9C;
    padding:0;
    min-width:25px;
    height:25px;
    display: inline-block;
}.yiiPager .page.selected a{
    background-color:#1ABC9C ;
    color:#fff;
 }