.leftPanel  {
    float: left;
    width: 10%;
    height: 100%;
    background: #F2F5F6;
    box-sizing: border-box;
}

.mainPanel {
    float: left;
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
}

.delete {
    background: none;
}

.button-column a {
    display: inline-block;
}

ul > li {
    padding: 5px;
}

.image-list
{
    display: inline-block;
}

.image-box {
    position: relative;
    float: left;
    display: inline-flex;
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
.image-list > .image-box > .delete,
.image-list > .image-box > .restore{
    position: absolute;
    top : 3px;
    right: 3px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.image-list > .image-box > .delete {
    background-image: url("../images/delete.png");
}
.image-list > .image-box > .restore {
    background-image: url("../images/restore.png");
}

.image-list > .image-box.add {
    background: url("../images/plus.png") center no-repeat;
    width: 43px;
    height: 43px;
    padding: 10px;
    cursor: pointer;
}

.image-list > .image-box > img {
    width: 70px;
}

.image-list > .image-box > input {
    display: none;
}

.update {
    width: 32px;
    height: 32px;
    background: url("../images/edit.png");
    display: block;
}

.delete {
    width: 32px;
    height: 32px;
    background: url("../images/file_delete.png");
    display: block;
}

.block-list {
    list-style: none;
    display: inline-block;
    padding: 0px;
    box-sizing: border-box;
}

.block-list li {
    width: 300px;
    display: inline-block;
    border: 1px solid;
    margin-right: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    vertical-align: top;
}

.block-item {
    float: left;
    padding: 0px 5px;
    margin: 0px;
}

.block-item:last-child{
    float: right;
}

.update > img,
.delete > img{
    display: none;
}