html body {
    min-width: 1170px;
    width: 100%;
    min-height: 100%;
    font-size: 15px;
    font-family: 'Open Sans';
    color: #28282e;
    cursor: default;
    background: #f1f1f1;
    line-height: 24px;
    text-size-adjust:none;
}
ol, ul {list-style: none;}
table {border-collapse: collapse; border-spacing: 0;}
html {height: 100%;}
img {border: 0;}
h1{
    line-height: 50px;
}
h3{
    line-height: 60px;
}
.fll{
    float:left;
}
td,th{
    padding:7px 7px 7px 17px;
    text-align: left;
}
.order-top{
    display: inline-block;
}
.mail-comment{
    background-color: #f9f9f9;
    width:470px;
    display: inline-block;
    margin-left:20px;
    padding:0 20px 24px 20px;
}
.mail-comment-header{
    width:100%;
    font-weight: 600;
    line-height: 54px;
}
.mail-sum{
    float:right;
    text-align: right;
    font-weight: 700;
    font-size:17px;
    line-height:50px;
}
table.items{
    width:100%;
    box-shadow: 0 0 2px 1px #e8e8e8;
}
table.items .button-column{
    width: 27px;
    /*padding: 5px 0 0 0;*/
}
table.items tr{
}
table.items tr:nth-child(even){
    background-color: #fff;
}
table.items thead tr{
    line-height:36px;
    background-color: #fbfbfb;
    border-bottom:1px solid #e8e8e8;

}
table.items thead{
    text-align: left;
}