html body {height: 100%;
    text-size-adjust:none;}
ol, ul {list-style: none;}
table {border-collapse: collapse; border-spacing: 0;}
html {height: 100%;}
img {border: 0;}
.framedBody{
    overflow-x: hidden;
    overflow-y: auto;
    width:1000px;
    min-width: 1000px;
}
input {vertical-align: top;}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.mt24{
    margin-top:24px !important;
}
.pt24{
    padding-top:24px;
}
.mt36{
    margin-top:36px !important;;
}
.tcenter{
    text-align: center;
}
textarea {
    overflow: auto;
    vertical-align: top;
    resize: none;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    margin: 0; padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}

body {
    min-width: 1230px;
    width: 100%;
    height: 100%;
    font-size: 13px;
    font-family: 'Open Sans';
    color: #383838;
    cursor: default;
    background: #FAFAFA url(img/background.jpg);
    line-height: 16px;
}
body.noscroll{
    overflow-y:hidden;
}
.no-right {margin-right: 0 !important;}
.clear {clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;}
.fll{ float:left;}
.flr{ float:right;}
.w25{
    width:25%;
}
.w75{
    width:75%;
}
a {
    color: #FF8530;
    text-decoration: none;
    outline: none;
}
h1, h2 {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 23px;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 25px;
    line-height: 1;
}
strong{
    font-weight:600;
}
.wrapper {
    width:1210px;
    margin:0 auto;
    background-color: #fff;
    padding-top:1px;
    box-shadow: #d5d5d5 0 2px 5px 0;
    min-height:100%;
}
b{
    color:#FF8530;
    font-weight:700 ;
}
.w100{
    width:100%;
    display:inline-block; /* testing*/
}
.w50{
    width:50%;
}
.w33{
    width:33%;
}
.over-all{
    position: relative;
    z-index: 1;
}
.cf{
    color:#fff;
}

a.link,
button.link {
    background: #FF8530;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    padding: 0 15px;
    box-shadow: 0 1px 0 #753e14;
    display: inline-block;
    position: relative;
    border: 0;
}

a.link:hover,
button.link:hover {
    background: #fd913f;
    text-decoration: none;
}

a.link:active,
button.link:active {
    top: 1px;
    background: #fd8d3c;
}

a.link.big,
button.link.big {
    height: 43px;
    border: none;
    box-shadow: 0 2px #c86b30;
    padding: 0 30px;
    line-height: 43px;
    text-shadow: 0 1px 0 #d34c02;
}
a.link.big.green {
    background: #37b777;
    box-shadow: 0 2px #1c8a53;
    text-shadow: 0 1px 0 #0d7641;
}
.big.right:after{
    content: '';
    display: block;
    height:46px;
    width:12px;
    position:absolute;
    right:-12px;
    top:0;
    background-image: url('img/big-orange.png');
    background-repeat: no-repeat;
}
.big.green.right:after{
    background-image: url('img/big-green-right.png');
    background-repeat: no-repeat;
    width:13px;
    right:-12px;
}
.big.green.left:before{
    content: "";
    display: block;
    float: left;
    height: 46px;
    width: 13px;

    position: relative;
    margin-left: -43px;
    background-image: url('img/big-green-left.png');
    background-repeat: no-repeat;
}
.big.right:hover:after, .big.left:hover:before{
    background-position: 0 -47px;
}
.big.right:active:after, .big.left:active:before{
    background-position: 0 -95px;
    top:1px;
}
a.link.big.green:hover{
    background: #5cd398;
    text-decoration: none;
    box-shadow: 0 2px #3dab74;
}
a.link.big.green:active{
    top:1px;
    background: #4fbf87;
    box-shadow: 0 2px #2b925e;
}
a.link.big.large {
    height: 67px;
    line-height: 67px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 0;
}
.content {
    padding: 22px 20px 358px 20px;
    margin-top: -3px;
}

.content .wrap {
    margin-top:5px;
    position: relative;
}

.page {
    width: 870px;
    float: left;
}

* html body {
    height: 100%;
    display: static
}

ol, ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html {
    height: 100%
}

img {
    border: 0
}

input {
    vertical-align: top
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: none
}
.no-bg {
    background: none !important
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0
}

.no-border {
    border: none !important
}
.header {
    height: 95px;
}
.header-divider{
    width:100%;
    height:20px;
    padding-right:20px;
}
.top-logo{
    margin-top:4px;
    width:379px;
    cursor: pointer;
}
.top-logo:before{
    content:'';
    display:block;
    width:46px;
    height:46px;
    background-image: url('img/logo-quads.png');
    background-repeat: no-repeat;
    float:left;
    margin-left:20px;
    margin-right:6px;
}
.logo-text{
    font-size:31px;
    line-height:20px ;
    letter-spacing: -0.6px;
}
.logo-subtext{
    color:#a3a09e;
    font-size:21px;
    line-height:31px ;
    letter-spacing: -1px;
}
.search-block{
    margin-top:4px;
    margin-right:-15px;
}
.top-search-input{
    border-radius:1px;
    border:none;
    border-top:1px solid #e6e6e6;
    background-color: #f7f7f7 ;
    box-shadow: none;
    height:47px;
    width:274px;
    padding-left:20px;
}

.search {
    background:  url(img/icon-search.png) no-repeat center center;
    width:30px;
    height:47px;
    display:block;
    position: relative;
    left:-43px;
    cursor: pointer;
    border: 0px none;
}

.right-block {
    margin-top:-1px;
    padding-right:22px;
    position: relative;
}

.right-block:after {
    content: '';
    background: url(img/phone-shadow.png) 0 50% no-repeat;
    width: 31px;
    height: 100%;
    position: absolute;
    left: -36px; top: 5px;
}

.phone {
    font-size: 24px;
    color: #7d7d7d;
    line-height: 26px;
    font-weight: 700;
}
.center-block {
    margin-top: -11px;
    color: #5B5B5B;
    margin-left: 44px;
    margin-right: 40px;
    height: 77px;
    width: 234px;
    padding: 2px;
    box-shadow: 0 4px 30px -11px rgba(0,0,0,0.3)
}
.dashed-container{
    width:100%;
    height: 72px;
    border:dashed 1px #fb903e;
    padding-top:9px;
}
.time-block-title,
.time-block .time,
.time-block .time span {
    display: inline-block;
    vertical-align: middle;
}

.time-block-title {
    color: #808080;
    font-size: 15px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.28px;
    white-space: nowrap;

}
.title-bold{
    font-size:23px;
    font-weight:700;
    border-bottom-color:#FF8849;
    margin-left: 10px;
}
.underline-dotted{
    border-bottom: 1px dotted;
    display: inline-block;
}
.time-block {
}

.time-block .time {
    position: relative;
    line-height: 25px;
}
.drop-time {
    position: absolute;
    left: 43px; top: 30px;
    background: #fff;
    padding: 15px;
    z-index: 30;
    width: 170px;
    border: 1px solid #afafaf;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    font-size: 13px;
    line-height: 22px;
    border-radius: 3px;
    display: none;
    margin-top: -3px;
    transition: margin 0.3s ease;
}
.open .drop-time {
    margin-top: 0;
}
.drop-time strong {
    display: block;
    font-weight: 700;
}

.adress-block {
    float: left;
    font-size: 13px;
    font-weight: 700;
    margin-right: 5px;
    padding-left: 15px;
    background: url(img/icon-location.png) 0 50% no-repeat;
}
.hot-line-title{
    font-size: 10px;
    line-height: 6px;
    color: #afafaf;
    margin-top: 15px;
    margin-right: 3px;
    font-weight: 600;
    text-align: right;

}
.head-btn{
    border: 0px;

    background-position: 6px center;
    background-repeat: no-repeat;
    background-color: #FF8849;
    color: #fff;
    text-shadow: 0 1px 0 #e88337;
    border-bottom:1px solid #FF8530;
    padding: 0 9px;
    font-weight:700;
    font-size: 17px;
    padding-left: 30px;
    line-height: 24px;

    cursor: pointer;
    text-transform: uppercase;
}
.head-route{
    background-image: url('img/route.png');
}
.head-btn:active{
    background-color: #f78f58;
    box-shadow: 0 1px 1px #db7528 inset;
    top: 1px;
}
.main-menu-wrapper{
    background-color: #FF8849;
    border-top:1px solid #fc8e3d;
    border-bottom:2px solid #e88337;
    display:inline-block;
    width:100%;
    height:48px;
    position: relative;
    box-shadow: #C0C0C0 0 8px 44px -3px;
}
.main-menu{
    width:1210px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size:17px;
}
.main-menu-wrapper:before{
    background-image: url("img/menu-angle-left.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    content: "";
    float: left;
    height: 54px;
    left: -8px;
    top: -1px;
    position: absolute;
    width: 8px;
}
.main-menu-wrapper:after{
    background-image: url("img/menu-angle-right.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    content: "";
    float: right;
    height: 54px;
    position: absolute;
    width: 8px;
    right: -8px;
    top: -1px;
}
.main-menu-item{
    display:inline-block;


}
.main-menu-item-a{
    text-shadow:#d34c02 0px 1px 0px;
    color:#fff;
    cursor: pointer;
    line-height:45px;
    font-weight: 700 ;
    text-transform: uppercase;
    height: 46px;
    display: inline-block;
    width:99%;
    text-align: center;
}
.main-menu-item:nth-child(1){width:185px;}
.main-menu-item:nth-child(2){width:180px;}
.main-menu-item:nth-child(3){width:170px;}
.main-menu-item:nth-child(4){width:256px;}
.main-menu-item:nth-child(5){width:180px;}
.main-menu-item:nth-child(6){width:239px;}
.main-menu-item:before{
    content: '';
    display:block;
    width:1px;
    position:relative;
    left:-1px;
    background-image: url('img/menu-points.png');
    background-position: center;
    background-repeat: no-repeat;
    height:45px;
    float:left;
}
.main-menu-item:first-child:before{
    content: '';
    background:none;

}
.main-menu-item:first-child .main-menu-item-a{
    padding-left:20px;
    text-align: left;
}
.main-menu-item-key-a:before{
    content: '';
    float:left;
    display: block;
    height:44px;
    width:1em;
    background-image:url('img/menu-key.png');
    background-repeat: no-repeat;
    background-position:center;
    position:absolute;
    margin-left: 20px;
}
.main-menu-item-key-a{
    padding:0px;
    padding-right:20px;
    text-align: right;
}
.main-menu-item-a:hover {
    text-decoration: none;
    background: #FF8849;
    background-image: linear-gradient(to right, #FF8849, #ff7733 50%, #FF8849);
}

.main-menu-item-a:active,
.main-menu-item-a.active {
    box-shadow: inset 0 2px 24px #dd7a2c;
    top: 1px;
    text-decoration: none;
}
.sidebar {
    width: 270px;
    float: left;
    margin-right: 30px;
}
.catalog-menu {
    background: #fafafa;
}

.catalog-menu-item {
    height: 48px;
    line-height: 48px;
    position: relative;
}

.catalog-menu-link {
    font-size: 13px;
    padding-left: 15px;
    color: #3D93C9;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    height: 48px;
    position: relative;
    transition: all 0.3s ease;
}

.catalog-menu-link:hover {
    background-color: #FFF2EC;
    text-decoration: none;
}

.catalog-menu-link.selected:after {
    content: '';
    background: url(img/catalog-menu-spin.png) 0 0 no-repeat;
    width: 8px;
    height: 45px;
    position: absolute;
    right: -8px; top: 1px;
}

.catalog-menu-link.selected {
    background: #FF8530;
    color: #fff;
}


.list-coloumn-block {
    width: 558px;
    padding-right: 30px;
    float: left;
}

.list-coloumn-ul li {
    color: #7d7d7d;
    margin-bottom: 20px;
    padding-left: 35px;
    background: url(img/list-coloumn-ul.png) 0 4px no-repeat;
    min-height: 23px;
    line-height: 25px;
}

.bottom .list-coloumn-ul li {
    background: url(img/s-list.png) 0 12px no-repeat;
    padding-left: 20px;
}
.menu li:first-child {
    background: 0 0
}

.menu li {
    float: left;
    height: 48px;
    line-height: 50px;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
    background: url(img/menu-li.png) 0 50% no-repeat
}

.menu li a {
    color: #fff;
    display: block;
    height: 48px;
    padding: 0 40px;
    position: relative;
    transition: all .3s ease;
    margin-left: 1px
}

.menu li a:hover {
    text-decoration: none;
    background: #FFA36F;
    background-image: linear-gradient(to right, #fe975e, #ffa271 50%, #fe9760)
}

.menu li a.active, .menu li a:active {
    box-shadow: inset 0 2px 24px #e88337;
    top: 1px;
    text-decoration: none
}

.menu li a.login {
    padding: 0 34px 0 40px
}

a.login:after {
    content: '';
    width: 8px;
    height: 100%;
    background: url(img/icon-key.png) 0 50% no-repeat;
    position: absolute;
    left: 20px;
    top: 0
}
.sidebar {
    width: 270px;
    float: left;
    margin-right: 30px
}

.page {
    width: 870px;
    float: left
}

.page.full {
    width: 100%;
    float: none;
}

.content p {
    margin-bottom: 18px
}

.section-menu {
    width: 1200px;
    height: 48px;
    text-align: center;
    margin-bottom: 25px
}

.section-menu li {
    width: 350px;
    height: 48px;
    float: left;
    margin-right: 50px
}

.panel {
    float: left;
    position: relative;
    height: 48px;
    line-height: 48px;
    background: url(img/panel.png)0 -96px no-repeat;
    text-align: center;
    padding: 0 0 0 20px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 2px 0 #5494bf;
    box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.3);
}
.panel.inline {
    float: none;
    display: inline-block;
}
.panel:after {
    content: '';
    width: 20px;
    height: 48px;
    background: url(img/panel.png)100% -96px no-repeat;
    position: absolute;
    right: -20px; top: 0;
}
a.panel:hover {
    background-position: 0 -48px;
    color: #fff;
    text-decoration: none;
}
a.panel:hover:after {background-position: 100% -48px;}
a.panel.active, a.panel:active {background-position: 0 0px;}
a.panel.active:after {background-position: 100% 0px}
a.panel:active:after {background-position: 100% 0px}
.section-menu .panel {width: 350px;}

.reason-block {
    margin: 0 -20px;
    padding: 25px 5px 38px;
    text-align: center;
    background: url(img/reason-block.png);
    position: relative
}

.reason-block:after, .reason-block:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 49px
}

.reason-block:before {
    top: -2px;
    background: url(img/reason-block-a.png) 0 0 repeat-x
}

.reason-block:after {
    bottom: -2px;
    background: url(img/reason-block-b.png) 0 0 repeat-x
}

.reason-container {
    margin-top: 35px;
    position: relative
}

.reason-item {
    float: left;
    width: 170px;
    height: 240px;
    margin: 11px 15px;
    position: relative;
    z-index: 20
}

.reason-item:hover .reason-item-container {
    position: absolute;
    left: 0;
    top: 0x
}

.reason-item-container {
    border: 1px solid #e0e0e0;
    background: #fff;
    padding: 0 5px;
    position: relative;
    transition: all .2s ease
}

.reason-item:hover .reason-item-container {
    text-decoration: none;
    border: 2px solid #FF7F35;
    height: auto;
    box-shadow: 0 1px 4px #7a7a7a
}

.reason-item:hover .title {
    color: #f68a50
}

.reason-item:hover .text {
    display: block
}

.reason-item-container:after, .reason-item-container:before {
    content: '';
    position: absolute;
    left: -3px;
    width: 176px;
    height: 15px;
    background: url(img/reason-item.png) 50% 0 no-repeat
}

.reason-item-container:after {
    top: -15px;
    background-position: 50% 4px
}

.reason-item-container:before {
    bottom: -15px;
    background-position: 50% -15px
}

.reason-item:hover .reason-item-container:after {
    background-position: 50% -29px;
    left: -5px
}

.reason-item:hover .reason-item-container:before {
    background-position: 50% -45px;
    left: -5px
}

.reason-item .image {
    width: 160px;
    height: 150px;
    display: table-cell;
    vertical-align: middle
}

.reason-item .title {
    font-weight: 600;
    font-size: 14px;
    color: #88b8d5;
    margin-bottom: 20px;
    height: 80px;
    transition: all .3s ease
}

.reason-item .text {
    font-size: 12px;
    line-height: 16px;
    color: #5b5b5b;
    display: none;
    background: url(img/reason-item-title.png) 50% 0 no-repeat;
    padding: 20px 0 10px
}

.index-news {
    margin-top: -20px;
    padding: 20px;
    position: relative;
    background: url(img/index-news-bg.png)
}

.n-block {
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .06);
    border-radius: 3px;
    padding: 7px
}

.n-block-dotted {
    padding: 20px;
    border: 1px dashed #CBCBCB;
    border-radius: 3px;
    position: relative
}

.index-news .n-block-dotted:after {
    content: '';
    position: absolute;
    right: -8px;
    top: 65px;
    width: 14px;
    height: 15px;
    background: url(img/icon-erase.png) 0 0 no-repeat
}

.n-block .n-head {
    margin-bottom: 20px
}

.n-block .n-head strong {
    font-size: 16px;
    color: #7d7d7d;
    font-weight: 700;
    margin-right: 5px
}

.arhive {
    font-style: italic;
    font-size: 10px;
    color: #7d7d7d;
    padding: 0 20px 0 13px;
    height: 23px;
    line-height: 23px;
    background: url(img/n-head.png) 100% 0 no-repeat;
    display: inline-block;
    text-decoration: underline
}

.arhive:hover {
    color: #7d7d7d
}

.arhive:active {
    background-position: 100% -23px;
    color: #7d7d7d
}

.n-item {
    float: left;
    width: 260px;
    margin-right: 24px;
    position: relative
}

.n-item .date {
    color: #b5b0b0;
    font-size: 11px;
    margin-bottom: 5px
}

.n-item .link {
    font-size: 17px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 5px
}

.n-item .link a {
    text-decoration: underline
}

.n-item .link a:hover {
    text-decoration: none
}

.n-item .text {
    color: #5b5b5b;
    font-size: 12px;
    line-height: 18px
}

.full-news {
    margin: 0 -15px
}

.full-news .n-block {
    float: left;
    width: 570px;
    height: 195px;
    margin: 0 15px 20px
}

.full-news .n-item {
    float: none;
    width: auto;
    margin: 0;
    padding-left: 156px;
    overflow: hidden;
    height: 136px
}

.full-news .n-block-dotted {
    height: 181px
}

.full-news .image {
    width: 136px;
    height: 136px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0
}

.more-news {
    text-align: center;
    margin-bottom: 20px
}

.sales-block {
    margin-bottom: 25px;
    background: url(img/sales-block.jpg) 50% 0 no-repeat;
    height: 335px;
    position: relative
}

.nav-sale-block {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    text-align: center
}

.nav-sale-block li {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 50px
}

.nav-sale-block li a {
    color: #7bb4da;
    text-decoration: underline;
    display: inline-block;
    position: relative;
    padding-left: 20px
}

.nav-sale-block li a:after {
    content: '';
    width: 16px;
    height: 17px;
    position: absolute;
    left: 0;
    top: 14px
}

.cat:after {
    background: url(img/nav-sale-icons.png) 0 0 no-repeat
}

.sal:after {
    background: url(img/nav-sale-icons.png) 0 -17px no-repeat
}

.newmag:after {
    background: url(img/nav-sale-icons.png) 0 -34px no-repeat
}

.nav-sale-block li a:hover, .nav-sale-block li.active a {
    color: #fe9760
}

.active .cat:after, .cat:hover:after {
    background-position: -16px 0
}

.active .sal:after, .sal:hover:after {
    background-position: -16px -17px
}

.active .newmag:after, .newmag:hover:after {
    background-position: -16px -34px
}

.panel-sale {
    position: absolute;
    width: 337px;
    height: 270px;
    background: url(img/panel-sale-block.png) 0 0 no-repeat;
    left: 28px;
    top: 12px;
    z-index: 10
}

.panel-sale .item {
    width: 120px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 600;
    height: 90px;
    padding-top: 25px
}

.panel-sale .item a {
    text-decoration: underline;
    color: #7bb4da
}

.panel-sale .item a:hover {
    color: #79b6de
}

.panel-sale .item a:active {
    color: #93c8eb
}

.it1 {
    margin-left: 150px
}

.it2 {
    margin-left: 110px
}

.it3 {
    margin-left: 70px
}

.slide {
    position: absolute;
    width: 1150px;
    height: 270px;
    left: 10px;
    top: 9px;
    overflow: hidden;
    visibility: hidden;
    z-index: -1
}

.slide.active {
    visibility: visible;
    z-index: 2
}

.text-slide {
    position: absolute;
    left: 360px;
    top: 25px;
    width: 470px
}

.text-slide .title {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-shadow: 0 2px 0 #7bb4da;
    margin-bottom: 20px;
    position: relative;
    opacity: 0;
    top: 50px;
    transition: all 1s ease
}

.active .text-slide .title {
    opacity: 1;
    top: 0
}

.text-slide .text {
    position: relative;
    left: -2000px;
    opacity: 0;
    transition: all 1s ease
}

.active .text {
    left: 0;
    opacity: 1;
    color: #fff;
    font-style: italic;
    font-size: 15px
}

.quality-list li {
    display: inline-block;
    width: 230px;
    margin-bottom: 10px
}

.text-slide .link-block {
    position: relative;
    top: -300px;
    opacity: 0;
    transition: all 1s ease;
    margin-top: 20px
}

.active .text-slide .link-block {
    top: 0;
    opacity: 1
}

.catalog-menu {
    background: #fafafa
}

.catalog-menu li {
    height: 45px;
    line-height: 45px;
    position: relative
}

.catalog-menu li a {
    font-size: 13px;
    padding-left: 15px;
    color: #86b1cc;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    height: 45px;
    position: relative;
    transition: all .3s ease
}

.catalog-menu li a:hover {
    background-color: #FFF2EC;
    text-decoration: none
}

.catalog-menu li.active a:after {
    content: '';
    background: url(img/catalog-menu-spin.png) 0 0 no-repeat;
    width: 8px;
    height: 45px;
    position: absolute;
    right: -8px;
    top: 0
}

.catalog-menu li.active a {
    background: #FF8530;
    color: #fff
}

.labels-block {
    margin: 0 -15px 24px;
    display: inline-block;
}

.labels-block .label {
    float: left;
    margin: 0 15px;
    width: 270px;
    height: 47px;
    line-height: 38px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid #e8e8e8;
    box-shadow: 0 0 5px rgba(0, 0, 0, .06);
    padding: 3px;
    position: relative
}

.labels-block .label-container {
    border: 1px dashed #dcdcdc;
    height: 40px
}

.labels-block .image {
    margin: -3px 10px 0 7px
}

.labels-block .image, .labels-block .link {
    display: inline-block;
    vertical-align: middle
}

.labels-block a {
    text-decoration: underline
}

.labels-block a:hover {
    text-decoration: none
}

.box-block {
    margin: 0 -15px
}

.box-block .box {
    width: 270px;
    height: 266px;
    float: left;
    margin: 0 15px 22px;
    text-align: center;
    border: 1px solid #e8e8e8;
    transition: all .3s ease;
    color: #97c0d9;
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase
}

.box-block .box:hover {
    box-shadow: 0 2px 7px rgba(222, 222, 222, .53);
    color: #97c0d9;
    text-decoration: underline
}

.box-block .box .image, .box-block .box .title {
    display: table-cell;
    vertical-align: middle;
    width: 268px
}

.box-block .box .image {
    height: 200px
}

.box-block .box .title {
    height: 68px;
    line-height: 22px;
    padding: 0 10px;
    background: url(img/box-title.png)
}

.image.no-image {
    background: url(img/no-image.png) 50% 50% no-repeat
}

.box-block .image-stock {
    width: 268px;
    height: 200px;
    overflow: hidden
}

.breadcrumbs {
    position: relative;
    z-index: 5
}

.breadcrumbs a, .breadcrumbs span {
    color: #b5b0b0;
    vertical-align: middle;
    display: inline-block;
    font-size: 11px;
    margin: 0 5px 7px 0;
    line-height: 20px
}

.breadcrumbs span.arrow {
    background: url(img/arrow.png) 0 50% no-repeat;
    width: 7px;
    height: 20px
}

.breadcrumbs a:hover {
    color: #fe9760
}

.company-billboard {
    width: 1070px;
    margin: 0 auto 30px;
    padding: 20px;
    background: #ccc
}

.billboard-container {
    background: #fff;
    padding: 25px 30px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1)
}

.image-company {
    float: left;
    width: 270px;
    height: 270px;
    margin-right: 30px;
    overflow: hidden;
    margin-bottom: 20px
}

.image-company .image {
    width: 270px;
    height: 270px;
    text-align: center;
    vertical-align: middle;
    display: table-cell
}

.company-info {
    float: left;
    width: 670px
}

.company-info h1 {
    font-size: 38px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: left;
    text-transform: inherit
}

.info-list > li {
    padding-left: 42px;
    margin-bottom: 18px;
    background: url(img/info-list.png) 0 9px no-repeat;
    font-size: 15px;
    line-height: 22px
}

.company-contact li {
    display: inline-block;
    border-left: 1px solid #fd965d;
    padding: 0 18px
}

.company-contact li:first-child {
    padding: 0 18px 0 0;
    border-left: 1px solid transparent
}

.company-contact li a {
    color: #383838;
    text-decoration: underline
}

.company-contact li a:hover {
    text-decoration: none
}

.tags-block span {
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    left: 0;
    top: 2px
}

.tags-block {
    position: relative;
    padding-left: 150px
}

.tags-block a {
    display: inline-block;
    vertical-align: middle;
    height: 22px;
    font-size: 12px;
    color: #383838;
    padding: 0 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    border: 1px solid #e6e6e6;
    line-height: 22px;
    margin: 0 5px 10px 10px;
    position: relative
}

.tags-block a:after {
    content: '';
    width: 11px;
    height: 29px;
    background: url(img/tag-spin.png) 0 0 no-repeat;
    left: -11px;
    top: -3px;
    position: absolute
}

.c-title {
    margin-bottom: 30px;
    color: #7d7d7d;
    font-size: 30px;
    line-height: 1;
    font-weight: 300;
    text-align: center
}

.dragdealer {
    height: 170px;
    position: relative;
    overflow: hidden
}

.dragdealer .item {
    width: 170px;
    height: 170px;
    background: red;
    float: left;
    margin-right: 30px;
    position: relative
}

.dragdealer .handle {
    height: 170px;
    position: absolute;
    cursor: move;
    left: 0;
    top: 0
}

.head-list {
    height: 50px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 50px
}

.head-list li h2 {
    line-height: 50px
}

.head-list li {
    width: 233px;
    height: 50px;
    display: inline-block;
    vertical-align: top
}

.head-list li a {
    width: 233px;
    height: 49px;
    display: block
}

.prev-category {
    background: url(img/prev-category.png) 0 0 no-repeat
}

.next-category {
    background: url(img/next-category.png) 0 0 no-repeat
}

.company-information {
    margin-bottom: 30px
}

.company-information .text-block {
    float: left;
    width: 870px;
    padding: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .06);
    margin-right: 30px;
    font-size: 14px;
    line-height: 24px
}

.company-information h2 {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 18px;
    text-align: left;
    text-transform: inherit
}

.download-block {
    width: 270px;
    height: 215px;
    float: right;
    background: url(img/download-block.jpg) 0 0 no-repeat;
    padding: 12px;
    margin-bottom: 25px
}

.download-block.or {
    background: url(img/download-block_.png) 0 0 no-repeat
}

.download-container {
    border: 1px solid #fff;
    width: 246px;
    height: 191px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    line-height: 27px
}

.download-container span {
    display: block;
    font-style: italic;
    font-size: 13px
}

.download-container .link-big {
    color: #fff;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700
}

.link-big a {
    color: #fff;
    text-decoration: underline
}

.download-container a:hover {
    text-decoration: none
}

.service-block {
    margin: 0 -15px
}

.service-column {
    margin: 0 15px;
    width: 370px;
    float: left
}

.service-block .service {
    width: 370px;
    height: 217px;
    float: left;
    margin-bottom: 23px;
    text-align: center;
    background: #fff;
    box-shadow: 0 6px 45px rgba(210, 220, 227, .56);
    cursor: pointer;
    padding: 5px
}

.service-block .service.open {
    height: auto
}

.service.open .service-slide {
    display: block
}

.service-slide {
    padding: 20px 10px;
    background: #fff;
    text-align: left;
    font-size: 13px;
    line-height: 18px;
    display: none
}

.s-list li:first-child {
    margin-top: 0
}

.s-list li {
    margin-top: 15px;
    padding-left: 25px;
    background: url(img/s-list.png) 0 8px no-repeat
}

.service-container {
    border: 1px dashed silver;
    min-height: 207px;
    position: relative
}

.service-container:after {
    content: '';
    width: 38px;
    height: 38px;
    position: absolute;
    right: -2px;
    bottom: -1px;
    background: #fff url(img/service-container.png) 0 0 no-repeat
}

.service .image {
    position: absolute;
    left: 0;
    top: 10px;
    text-align: center;
    width: 100%;
    height: 150px
}

.service .text {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #fe9760;
    padding: 130px 25px 0
}

.return-section {
    width: 207px;
    height: 68px;
    line-height: 68px;
    background: url(img/return-section.png) 0 0 no-repeat;
    margin: 0 auto;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    text-decoration: underline
}

.faq-block {
    box-shadow: 0 1px 5px rgba(202, 202, 202, .58);
    border: 1px solid #d7d7d7;
    position: relative;
    margin-bottom: 15px
}

.faq-block:after {
    content: '';
    background: url(img/faq-block.png) 0 0 no-repeat;
    width: 276px;
    height: 15px;
    position: absolute;
    bottom: -15px;
    left: -5px
}

.faq-block .head {
    background: url(img/blue-bg.jpg) 0 0 no-repeat;
    height: 150px;
    padding-top: 20px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700
}

.icon-faq {
    height: 60px;
    background: url(img/icon-faq.png) 50% 0 no-repeat;
    margin-bottom: 10px
}

.faq-container {
    padding: 18px
}

.faq-box {
    margin-bottom: 30px;
    position: relative
}

.faq-question {
    padding: 7px;
    background: #fff;
    box-shadow: 0 6px 45px rgba(210, 220, 227, .56);
    position: relative;
    z-index: 2
}

.faq-question-container {
    border: 1px dashed #B5B5B5;
    padding: 15px
}

.town {
    color: #b5b0b0;
    font-size: 11px;
    margin-bottom: 10px
}

.question span {
    color: #fe9760;
    border-bottom: 1px dotted #fe9760;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700
}

.answer {
    padding: 15px 23px;
    box-shadow: 0 6px 45px rgba(210, 220, 227, .56);
    margin-top: 10px;
    position: relative;
    z-index: 50;
    background: #fff;
    font-size: 13px;
    line-height: 20px;
    display: none
}

.answer:after {
    content: '';
    width: 26px;
    height: 10px;
    background: url(img/answer.png) 0 0 no-repeat;
    position: absolute;
    left: 50px;
    top: -10px;
    z-index: 10
}

.navigation-block {
    text-align: center
}

.navigation-block li {
    display: inline;
    margin: 0 5px;
    font-size: 14px;
    font-weight: 700
}

.navigation-block li a {
    color: #88b8d5;
    text-decoration: underline
}

.navigation-block li a:active {
    color: #5b5b5b;
    text-decoration: none
}

.navigation-block li a:hover {
    text-decoration: none
}

.form label {
    display: block;
    font-size: 13px;
    font-weight: 600;
    color: #5b5b5b;
    line-height: 22px
}

.form .input-block {
    position: relative;
    margin-bottom: 10px
}

.form input, .form textarea {
    width: 100%;
    height: 30px;
    box-shadow: 0 1px 1px #f5f5f5;
    border: 1px solid #e6e6e6;
    background-color: #F9F9F9;
    background-image: linear-gradient(to bottom, #f5f5f5, #fbfbfb);
    padding: 0 10px;
    font-family: Arial
}

.form textarea {
    padding: 5px 10px;
    height: 175px
}

.form button.link {
    width: 100%
}

.form .error input, .form .error textarea {
    box-shadow: 0 0 5px #fe5561;
    border: 1px solid #ffb8bd
}

.tour-block {
    margin: 0 -15px
}

.tour-block .tour {
    width: 570px;
    margin: 0 15px;
    float: left;
    font-size: 14px;
    line-height: 24px
}

.attention {
    padding: 20px 30px 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .06);
    margin-bottom: 20px
}

.title-slim {
    font-size: 17px;
    font-weight: 300;
    color: #7d7d7d;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 25px
}

.name-tour-block {
    margin: 0 -15px
}

.name-tour-block .name {
    width: 270px;
    height: 235px;
    float: left;
    padding-top: 20px;
    margin: 0 15px 20px;
    position: relative;
    background: url(img/blue-bg.jpg) 0 0 no-repeat;
    text-align: center;
    font-weight: 600
}

.name .image {
    width: 132px;
    height: 132px;
    margin: 0 auto 20px;
    border-radius: 66px;
    overflow: hidden;
    box-shadow: 0 9px 32px rgba(92, 146, 180, .75)
}

.name .name-phone {
    color: #fff;
    text-shadow: 0 1px 0 #5896bc;
    font-size: 18px;
    line-height: 25px
}

.name .name-text {
    position: absolute;
    left: 0;
    top: 130px;
    width: 100%;
    height: 32px
}

.name .name-text span {
    background: #fff;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    font-size: 22px;
    padding: 0 15px;
    box-shadow: 0 2px 24px rgba(86, 141, 176, .79)
}

.photo-tour {
    margin: 0 -15px
}

.photo-tour .photo {
    width: 270px;
    height: 180px;
    float: left;
    margin: 0 15px 25px
}

.name-category {
    width: 100%;
    height: 41px;
    background: url(img/name-category.png) 50% 0 no-repeat;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    z-index: 5;
    left: 0;
    top: 50%;
    margin-top: -20px;
    text-align: center;
    line-height: 40px
}

.buyme-block {
    width: 1210px;
    margin-left: -20px;
    padding: 25px 20px 0;
    background: url(img/buyme-block.png) 0 0 repeat-x
}

.cat-bill {
    margin: -53px 0 40px -20px;
    width: 1210px;
    height: 459px;
    border-bottom: 2px solid #bababa;
    position: relative
}

.cat-bill .image {
    width: 1210px;
    height: 457px;
    overflow: hidden
}

.cat-bill .text {
    position: absolute;
    left: 120px;
    top: 70px;
    width: 500px;
    height: 371px;
    color: #fff;
    font-size: 15px;
    line-height: 20px
}

.cat-bill .text-container {
    width: 500px;
    height: 371px;
    display: table-cell;
    vertical-align: middle
}

.cat-bill span {
    display: inline-block;
    vertical-align: top;
    background: rgba(162, 204, 229, .6);
    margin-bottom: 5px;
    padding: 5px 10px
}

.cat-bill .text-container .title {
    font-size: 36px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px
}

.more-shop-block {
    margin-bottom: 25px;
    text-align: center
}

.more-shop-block a.link {
    margin-top: 30px
}

.shop-item {
    position: relative;
    width: 170px;
    height: 170px;
    overflow: hidden;
    float: left;
    margin: 0 30px 22px 0
}

.shop-item .shop-item-container {
    width: 170px;
    height: 170px;
    display: table-cell;
    text-align: center;
    vertical-align: middle
}

.footer {
    border-top: 2px solid #f58446;
    width: 1210px;
    margin: -340px auto 0 auto;
    position: relative;
    background: #fff url(img/footer.jpg) 50% 100% repeat-x;
    padding: 48px 20px 20px 20px;
    color: #828282;
    font-size: 11px;
}

.footer a {color: #828282;}
.footer a:hover {color: #f58446;}

.footer:after {
    content: '';
    width: 100%;
    height: 64px;
    background: url(img/footer_.png) 0 0 repeat-x;
    left: 0; top: 0;
    position: absolute;
}

.footer-content {
    position: relative;
    z-index: 2;
    margin-top:-18px;
}

.involta-link {
    background: url(img/involta.png) 0 0 no-repeat;
    height: 39px;
    width: 117px;
    position: absolute;
    right: 0; top: 0;

}

.go-g-play {
    width: 117px;
    height: 30px;
    position: absolute;
    right: 0; top: 65px;
    background: url(img/google-play.png) 0 0 no-repeat;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    transition: all 0.3s ease;
}

.go-g-play:hover {
    filter: none;
    filter: none;
    -webkit-filter: grayscale(0%);
}

.footer-adress-block {
    float: left;
    width: 300px;
    margin-right: 20px;
}

.footer-section-list {
    float: left;
    width: 600px;
}

.footer-adress-logo {
    background-image: url('img/footer-logo.png');
    background-repeat: no-repeat;
}
.footer-logo-text{
    color:#616161;
    font-weight: 700;
    font-size: 26px;
    line-height:24px;
    padding-left:44px;
}
.footer-logo-subtext{
    color:#616161;
    padding-left:44px;
    font-weight:500;
    font-size:19px;
    line-height:17px;
    margin-bottom:6px;
}

.footer-adress {
    margin-bottom: 10px;
    line-height:16px;
}

.yandex-map {
    background: url(img/icon-yandex.png) 0 50% no-repeat;
    padding-left: 17px;
}

.yandex-map a {text-decoration: underline;}

.section-list li {
    margin-bottom: 5px;
}

.section-list .coloumn {
    float: left;
    width: 200px;
    line-height:13px;
}

.about-mag {
    margin-left: -20px;
    width: 1210px;
    background: url(img/about-mag.jpg) 0 50% no-repeat;
    background-size: cover;
    padding: 20px;
    position: relative;
    line-height: 20px;
    margin-bottom: 25px
}

.about-mag:after, .about-mag:before {
    content: '';
    width: 100%;
    height: 60px;
    position: absolute;
    left: 0;
    background: url(img/about-mag-shadow.png) 0 0 repeat-x
}

.about-mag:after {
    top: 0
}

.about-mag:before {
    bottom: 0;
    background-position: 0 -60px
}

.list-about {
    margin: 20px 0 30px
}

.list-about.top {
    background: url(img/list-about-top.jpg) 50% 50% no-repeat
}

.list-about.bottom {
    background: url(img/list-about-bottom.jpg) 50% 100% no-repeat;
    padding: 0 20px 70px;
    margin-left: -20px;
    width: 1210px
}

.list-about h4 {
    text-align: center;
    margin-bottom: 35px;
    font-size: 16px
}

.list-coloumn-block {
    width: 558px;
    padding-right: 30px;
    float: left
}

.list-coloumn-ul li {
    color: #7d7d7d;
    margin-bottom: 20px;
    padding-left: 35px;
    background: url(img/list-coloumn-ul.png) 0 4px no-repeat;
    min-height: 23px;
    line-height: 25px
}

.bottom .list-coloumn-ul li {
    background: url(img/s-list.png) 0 12px no-repeat;
    padding-left: 20px
}

.ramka {
    margin-left: -20px;
    width: 1210px;
    height: 160px;
    text-align: center;
    background: url(img/ramka.jpg) 50% 0 no-repeat;
    color: #7d7d7d;
    line-height: 26px;
    font-size: 15px;
    padding-top: 30px
}

.transport-block {
    margin: 40px -20px -20px;
    background: url(img/transport-block.jpg) 0 100% no-repeat;
    padding-bottom: 70px;
    padding-left: 5px
}

.transport {
    float: left;
    width: 370px;
    height: 260px;
    margin: 0 15px 30px;
    box-shadow: 0 8px 21px #dae0e4;
    background: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #7d7d7d
}

.t-image {
    width: 370px;
    height: 144px;
    margin-bottom: 10px
}

.t-link a {
    text-decoration: underline
}

.t-link a:hover {
    text-decoration: none
}

.partner-block {
    margin: 0 -15px
}

.partner-item {
    width: 370px;
    height: 215px;
    overflow: hidden;
    position: relative;
    float: left;
    margin: 0 15px 25px;
    background: #fff;
    box-shadow: 0 8px 21px #dae0e4
}

.partner-container {
    width: 370px;
    height: 215px;
    display: table-cell;
    vertical-align: middle
}

.cupon-block {
    height: 400px;
    position: relative;
    background: url(img/kupon.jpg) 0 0 no-repeat
}

.cupon-block .text {
    position: absolute;
    left: 95px;
    top: 125px;
    width: 1050px;
    height: 150px;
    overflow: hidden;
    font-size: 17px;
    line-height: 23px
}

.cupon-block .link-block {
    position: absolute;
    left: 150px;
    bottom: 85px
}

.dotted-block {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    width: 216px;
    height: 48px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .06);
    padding: 5px;
    border: 1px solid #e8e8e8;
    transition: all .3s ease;
    cursor: pointer
}

.dotted-container {
    height: 36px;
    line-height: 34px;
    border: 1px dashed #DCDCDC
}

.active .dotted-block {
    box-shadow: inset 0 2px 5px rgba(175, 175, 175, .08)
}

.plan-nav-text {
    color: #fd975e;
    font-weight: 700;
    text-decoration: underline;
    font-size: 15px
}

.active .plan-nav-text {
    color: #605f61;
    text-decoration: none
}

.plan-nav {
    text-align: center;
    height: 48px;
    margin-bottom: 25px
}

.plan-nav li {
    width: 216px;
    height: 48px;
    margin: 0 8px;
    display: inline-block;
    vertical-align: top
}

.plan-pane {
    position: relative;
    overflow: hidden
}

.plan-pane li {
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    top: 50px;
    opacity: 0;
    transition: all .7s ease
}

.plan-pane li.active {
    left: 0;
    top: 0;
    display: block;
    z-index: 1;
    opacity: 1
}

.mag-category-block {
    margin: 0 -15px;
    display: inline-block
}

.mag-category-item {
    float: left;
    width: 370px;
    height: 96px;
    padding: 5px;
    margin: 0 15px 24px;
    background: #fff;
    box-shadow: 0 6px 45px rgba(210, 220, 227, .56)
}

.m-c-container {
    position: relative;
    height: 87px;
    border: 1px dashed #B4B4B4;
    padding: 10px 20px 10px 85px
}

.m-c-container .image {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 70px;
    height: 70px;
    text-align: center
}

.m-c-container .link {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 700
}

.m-c-container .link a {
    text-decoration: underline
}

.m-c-container .link a:hover {
    text-decoration: none
}

.m-c-container .text {
    color: #5b5b5b;
    font-size: 12px
}

.mag-catalog-block {
    margin: 0 -15px;
    display: inline-block
}

.mag-catalog-block.view-middle {
    margin: 0 -12px
}

.mag-catalog-item {
    float: left;
    width: 270px;
    max-height: 335px;
    margin: 0 15px 25px;
    background: #f6f6f6;
    border: 1px solid #E8E8E8;
    text-align: center;
    box-shadow: inset 0 0 0 1px #fff, 0px 0px 8px 0px #DADADA;
}

.view-middle .mag-catalog-item {
    width: 214px;
    margin: 0px 12px 20px;
    max-height: 270px;
    padding-bottom: 7px;
}

.mag-catalog-item .image {
    width: 270px;
    height: 200px;
    overflow: hidden;
    margin: -1px 0 20px -1px
}

.view-middle .mag-catalog-item .image {
    width: 214px;
    height: 160px;
    margin: -1px 0 10px -1px
}


.view-middle .mag-catalog-item .image img {
    width: 214px;
    height: 160px;
}

.view-middle .mag-catalog-item .image img.vertical {
    width: auto;
    height: auto;
}


.mag-catalog-item .name {
    font-size: 16px;
    font-weight: 700;
    color: #97c0d9;
    text-transform: uppercase;
    margin-bottom: 15px;
    height: 18px
}

.view-middle .mag-catalog-item .name {
    font-size: 13px;
    margin-bottom: 10px
}

.mag-catalog-item .cena {
    color: #5b5b5b;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 18px;
    height: 18px
}

.view-middle .mag-catalog-item .cena {
    font-size: 12px;
}

.mag-catalog-item .cena span {
    font-weight: 700;
    color: #df4d35;
    font-size: 18px;
    margin-left:8px;
    line-height: 28px;
}
.add-basket{
    height:31px;
    text-transform: uppercase;
    padding:9px 14px 6px 38px;
    background:#fff;
    border:1px solid #eeeeee;
    box-shadow: 0 4px 10px -7px #000000;
    position:relative;
    right:-6px;
}
.add-basket:before{
    background:url('img/add-basket-before.png') no-repeat;
    content: '';
    width: 32px;
    height:32px;
    display: block;
    position: absolute;
    float: left;
    top:0;
    left:-1px;
}
.dotted-underline{
    border-bottom:1px dotted #FF8849;
    display: inline-block;
    line-height: 12px;
}
.cena-add-basket-wrap{
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.add-basket:after{
    content: '';
    width: 6px;
    position:absolute;
    height:5px;
    background: url("img/add-basket-after.png") no-repeat;
    float:right;
    bottom: -6px;
    right: -1px;

}
.view-middle a.link.middle {
    font-size: 11px
}

.filter-block {
    min-height: 95px;
    background: #fff;
    box-shadow: 0 10px 19px rgba(150, 160, 160, .76);
    margin-bottom: 25px;
    line-height: 95px;
    display: inline-block;
    width: 100%;
}

.filter-cat {
    float: left;
    width: 285px;
    min-height: 95px;

    line-height: 18px;
    position: relative;
    padding: 15px 0 15px 80px
}

.filter-cat .image {
    position: absolute;
    left: 5px;
    top: 13px;
    width: 70px;
    height: 70px;
    text-align: center
}

.filter-cat .name {
    display: inline-block;
    vertical-align: top;
    color: #fe9760;
    position: relative;
    width: 100%;
    height: 20px;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 5px
}

.filter-cat .name span {
    background: url(img/drop-icon.png) 100% 10px no-repeat;
    padding-right: 15px;
    white-space: nowrap
}

.filter-cat .text {
    color: #5b5b5b;
    font-size: 11px;
    line-height: 18px
}

.filter-select-block {
    width: 870px;
    float: left
}

.filter-select-block > li {
    margin-right: 15px;
    float: left
}

.filter-select-block > li:last-child {
    margin-right: 0
}

.filter-title {
    color: #5B5B5B;
    font-weight: 700;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle
}

.select-block {
    width: 170px;
    height: 30px;
    border: 1px solid #e7e7e7;
    display: inline-block;
    vertical-align: middle;
    border-radius: 2px;
    background-color: #fbfbfb;
    background-image: linear-gradient(to top, #fbfbfb, #f5f5f5);
    position: relative;
    cursor: pointer;
    line-height: 30px
}

.select-block span {
    padding: 0 10px;
    color: #5B5B5B;
    display: block;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.select-block>span:after {
    content: '';
    width: 10px;
    height: 7px;
    background: url(img/drop-icon.png);
    position: absolute;
    right: 10px;
    top: 12px
}
.framedBody .product-container{
    width:1000px;
    padding: 24px 20px;
}
.product-image {
    float: left;
    width: 470px;
    margin-right: 30px
}

.product-big-image {
    margin-bottom: 20px
}

.product-big-image img {
    max-width: 443px;
    max-height: 443px;
}

.preview-list {
    margin: 0 -25px 0 0
}

.preview-list li {
    width: 94px;
    height: 94px;
    float: left;
    overflow: hidden;
    margin: 0 25px 20px 0
}
.product-information {
    width: 600px;
    float: left;
}
.framedBody .product-information {
    width: 445px;
}

.product-information h1 {
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    color: #525252;
    text-transform: none
}

.product-info-list {
    margin-bottom: 20px
}

.product-info-list > li {
    position: relative;
    padding-left: 180px;
    line-height: 20px;
    margin-bottom: 15px;
    color: #525252
}

.product-info-list > li .text {
    position: absolute;
    left: 0;
    top: 0;
    width: 180px;
    font-weight: 700;
    border-bottom: 1px dotted #D4D4D4;
    height: 15px
}

.product-info-list > li .text span {
    background: #fff
}

.product-info-list .select-block {
    margin-top: -5px
}

.comment-send {
    margin-bottom: 30px
}

.comment-send .title {
    color: #525252;
    font-weight: 700;
    margin-bottom: 10px
}

.comment-send textarea {
    width: 100%;
    height: 70px;
    padding: 5px 15px;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    background-color: #fbfbfb;
    background-image: linear-gradient(to top, #fbfbfb, #f5f5f5);
    font-family: 'Open Sans';
    transition: all .5s ease
}

.comment-send textarea:focus {
    height: 150px
}

.total-coin {
    height: 30px;
    margin-bottom: 25px;
    position: relative;
    line-height: 30px;
    color: #525252
}

.total-coin .text, .total-coin .total, .total-coin .value-block {
    float: left;
    margin-right: 10px
}

.total-coin .text {
    font-size: 14px;
    font-weight: 700
}

.total-coin .total {
    font-size: 20px;
    font-weight: 600
}

.value-block {
    width: 57px;
    height: 30px;
    border: 1px solid #E7E7E7;
    background-color: #fbfbfb;
    padding-right: 16px;
    position: relative;
    background-image: linear-gradient(to top, #fbfbfb, #f5f5f5)
}

.value-block input {
    width: 100%;
    height: 28px;
    border: none;
    background: 0 0;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #525252;
    font-size: 15px
}

.value-block a {
    display: block;
    position: absolute;
    right: -1px;
    width: 16px;
    height: 16px;
    background: url(img/value.png);
    border: 1px solid #E7E7E7
}

.value-block a.up {
    top: -1px
}

.value-block a.down {
    bottom: -1px;
    background-position: 0 -14px
}

.add-card-block li {
    float: left;
    height: 48px;
    line-height: 48px;
    width: 280px;
    text-align: right
}

.add-card-block li:first-child {
    text-align: left
}

.add-card-block li a.return {
    color: #525252;
    text-decoration: underline;
    background: url(img/icon-return.png) 0 50% no-repeat;
    padding-left: 23px;
    font-size: 13px
}

.add-card-block li a:hover {
    text-decoration: none
}

.basket-step-list {
    width: 1210px;
    height: 70px;
    margin: 0 0 15px -20px;
    background: #fff;
    line-height: 70px;
    box-shadow: 0 6px 45px rgba(210, 220, 227, .56);
    text-align: center
}

.basket-step-list li {
    color: #e6e6e6;
    display: inline-block;
    vertical-align: top;
    background: url(img/basket-step-list.png) 0 50% no-repeat;
    padding: 0 10px 0 47px;
    font-size: 15px
}

.basket-step-list li:first-child {
    padding: 0 10px 0 0;
    background: 0 0
}

.basket-step-list li.active {
    color: #7d7d7d
}

.basket-table-block {
    background: url(img/table-shadow.png) 0 35px no-repeat
}

.basket-table {
    width: 100%;
    text-align: left;
    color: #525252
}

.basket-table th {
    height: 35px;
    font-weight: 600;
    font-size: 14px;
    text-align: center
}

.basket-table th.th1 {
    width: 95px
}

.basket-table th.th2 {
    width: 560px
}

.basket-table th.th3 {
    width: 115px
}

.basket-table th:first-child {
    text-align: left
}

.basket-table td {
    background: url(img/table-bg.png) 0 100% repeat-x;
    padding: 20px 0 23px;
    text-align: center;
    vertical-align: top
}

.basket-table td.align-left {
    text-align: left;
    font-size: 11px;
    line-height: 22px;
    padding-left: 20px;
    padding-right: 20px
}

.b-t-imag {
    width: 95px;
    height: 95px;
    overflow: hidden
}

.align-left a {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline
}

.align-left a:hover {
    text-decoration: none
}

.t-coin {
    font-size: 18px;
    margin-top: 15px;
    line-height: 1
}

.basket-table .value-block {
    margin: 10px auto 0
}

.basket-table .value-block.not {
    width: 100%;
    padding: 0;
    border: none;
    background: 0 0;
    margin: 17px auto 0
}

.delete {
    margin: 10px auto 0;
    width: 24px;
    height: 25px;
    display: block;
    background: url(img/delete.png) 0 0 no-repeat
}

.step-list li {
    margin-top: 40px;
    display: inline-block;
    vertical-align: middle;
    width: 386px;
    text-align: center
}

.step-list li:first-child {
    text-align: left
}


.basket-step-list a:hover, .step-list li a:hover {
    text-decoration: none
}

.itogo {
    font-size: 13px;
    color: #525252;
    float: right
}

.itogo span {
    font-size: 22px;
    font-weight: 600
}

.step-list .return {
    background: url(img/icon-return_.png) 0 50% no-repeat;
    padding-left: 20px
}

.info-user-block {
    width: 370px;
    margin: 0 auto
}

.info-user-block .form label.war {
    font-style: italic;
    color: #747474;
    font-weight: 300
}

.info-user-block .form label span {
    color: #ff7023
}

.info-user-block .input-block:after {
    content: '*';
    position: absolute;
    right: 10px;
    top: 10px;
    color: #ff7023
}

.info-user-block .input-block.not:after {
    content: ''
}

.info-user-block .step-list li {
    width: auto
}

.info-user-block .step-list li:first-child {
    margin-right: 24px
}

.total-info {
    box-shadow: 0 6px 45px rgba(210, 220, 227, .56);
    background: #fff;
    padding: 20px;
    position: relative;
    margin-top: 25px
}

.total-info-list {
    width: 895px;
    float: left
}

.total-info-list li {
    width: 270px;
    display: inline-block;
    vertical-align: top;
    margin: 0 25px 10px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #F1F1F1;
    font-weight: 600;
    line-height: 20px
}

.total-info-list li span {
    display: block;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 10px
}

.complite-block {
    color: #525252;
    text-align: center;
    margin-top: 30px
}

.complite-block .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 20px
}

.complite-block .text {
    font-style: italic;
    font-weight: 300;
    line-height: 30px;
    font-size: 13px;
    margin-bottom: 20px
}

.complite-block-list li {
    display: inline-block;
    vertical-align: top;
    border-left: 2px solid #c2c2c2;
    padding-left: 17px;
    margin-left: 15px
}

.complite-block-list li:first-child {
    border-left: none;
    padding-left: 0;
    margin-left: 0
}

.complite-block-list a {
    text-decoration: underline;
    color: #88b8d5;
    font-size: 15px;
    font-weight: 600
}

.complite-block-list a:hover {
    text-decoration: none
}

.drop-container {
    position: relative
}
.drop-list.mini {
    width: 200px;
    padding-bottom: 0;
}
.open .drop-list.mini{
    left:0;
}
.drop-list {
    position: absolute;
    left: -348px;
    top:45px;
    background: #fff;
    width: 600px;
    box-shadow: 0px 4px 18px -2px rgba(0, 0, 0, 0.86);
    padding: 5px 0;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    padding-bottom:28px;

}
.drop-list-inner{
    width:200px;
    float:left;
}
.drop-list-item{
    float:left;
    width:200px;
}
a.drop-list-item-clr{
    background: #FF8530;
    color: #fff;
    margin-bottom: 0px;
    text-align: center;
    width:100%;
    position: absolute;
    bottom:0;
    left:0;
    text-transform: uppercase;
    font-weight: 700;
}
a.drop-list-item-clr:hover{
    color:#fff;
    background: #FF8530;
}
.open .drop-list {
    opacity: 1;
    visibility: visible;
    top: 29px;
}

.drop-list li a {
    color: #5B5B5B;
    display: block;
    padding: 5px 20px;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    transition: none;
    line-height: 18px
}

.drop-list li a:hover {
    background: #FFFAF7;
    color: #fe9760;
}
.smartfilter-clr-btn{
    padding-right: 18px;
    background: url('img/cross.png') no-repeat scroll right 2px transparent;
    color: #FE9760;
    position: absolute;
    top: 3px;
    right: 8px;
    cursor: pointer;
}
.smartfilter{
    position: relative;
}
.summary {
    display: none
}

.fieldError {
    display: none;
    color: #df4d35;
    font-size: 10px;
    margin-top: -10px;
    margin-bottom: 10px
}

.fieldError.show {
    display: block
}

.btnEdit {
    width: 20px;
    height: 20px;
    background: url(img/btnEdit.png);
    display: block
}
.header-basket{
    width: 64px;
    height: 60px;
    color: #FFF;
    font-size: 13px;
    padding-top: 15px;
    text-align: center;
    background: url('img/basket-img.png') no-repeat scroll center center transparent;
    padding-left: 9px;
    margin-left: 10px;
    margin-right: 17px;
    margin-top:-5px;
}
.basket-widget-count{
    font-weight:500;
    text-decoration:none;
    color:#282828;
}
.basket-widget-price{
    color:#282828;
}
.basket-widget-title{
    font-weight:700;
    text-decoration:underline;
}

.auth-form{
    width:370px;
    display:block;
    height:292px;
    margin:0 auto;
    border:1px solid #f1f1f1;
    border-radius:3px;
    background-color:#f8f8f8;
    padding:37px;
    padding-bottom: 25px;
}
input.auth-input{
    border:2px solid #dadee0;
    line-height:29px;
    padding:5px 5px 5px 43px ;
    font-size:15px;
    color:#636363;
    border-radius:3px;
    height: 43px ;
    background: #fff;
}
.auth-input.login{
    margin-bottom:18px;
}
.login-span{
    width:14px;
    height:10px;
    display: block;
    background: url('img/e-mail.png');
    position:absolute;
    margin-top:-45px;
    margin-left:18px;
    background-repeat: no-repeat;
}
.auth-input:focus+.login-span{
    background-position: 0 -12px;
}
.auth-input.error+.login-span{
    background-position: 0 -24px;
}

.password-span{
    width:14px;
    height:16px;
    margin-top:-30px;
    margin-left:18px;
    display: block;
    background: url('img/password.png');
    position:absolute;
    background-repeat: no-repeat;

}
.auth-input:focus+.password-span{
    background-position: 0 -18px;
}
.auth-input.error+.password-span{
    background-position: 0 -36px;
}
.auth-input.error{
    border:2px solid #f3a59d;
}
.auth-input:focus{
    border:2px solid #8cddcd
}
.checkbox{
    display: none;
}
.checkbox-label{
    cursor:pointer;
    height:22px;
    padding-left:26px;
    background: url('img/checkbox.png') no-repeat 0 1px;
    display: inline-block;
    margin-bottom:13px;
    margin-top:13px;
    margin-left:10px;
    color:#8a9196;
    line-height: 22px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkbox:checked{

}
.checkbox:checked+.checkbox-label{
    background-position: 0 -21px;
}
input.auth-form-submit{
    border:0 solid transparent;
    background: #29bb9c;
    border-radius:2px;
    color:#fff;
    line-height:45px;
    cursor: pointer;
    font-size:17px;
    font-weight:600;
    height:45px;
}
.auth-form-submit:hover{
    background: #51c8b0;
}.auth-form-submit:active{
     background: #229f85;
     box-shadow:inset 0 2px 0 0 #138970;
 }
.auth-form-link{
    color:#a3a5a6;
    text-decoration: underline;
}
.auth-form-link:hover, .auth-form-link:active{
    color:#29bb9c;
}

.sticker {
    position: fixed;
    z-index: 1;
    width: 1210px;
    margin-left: -20px;
    top: 0px;
}
.overflow-wrapper, .overflow-note-wrapper{
    display: block;
    background:rgba(0,0,0,0.0);
    transition: background 0.25s ease;
    width: 0;
}
.overflow-wrapper.active , .overflow-note-wrapper.active{
    background: rgba(0,0,0,0.38);
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 1000;
    display: block;
}
.overflow-item{
display: none;
    height: 0;
}
.overflow-item.active{
    width: 1000px;
    margin: 24px auto;
    background-color: #fff;
    position: relative;
    display: block;
}
.overflow-item.active, .overflow-item.active iframe{
    transition: height 0.3s ease;
}
#overflow-notification{
    display: none;
    width:300px;
    height:200px;
    border:2px solid #dadada;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #afafaf;
    margin: 50px 0 0 -150px;
    left: 50%;
    position: absolute;
    background: #fff;
    font-size: 15px;
    text-align: center;
    padding: 24px 20px;
}
#overflow-notification.active{
    display: block;
}
.notify-close{
    width: 260px;
    position: absolute;
    bottom: 24px;
    left:20px;
    height: 43px;
    border: none;
    color:#fff;
    box-shadow: 0 2px #c86b30;
    background: #FF8530;
    line-height: 43px;
    text-shadow: 0 1px 0 #d34c02;
    padding: 0 9px;
    font-weight:700;
    font-size: 17px;
    cursor: pointer;
}
#scroll-to-top{
    height:100%;
    position: fixed;
    display: none;
    cursor: pointer;
}
#scroll-to-top.active{
    display: block;
    background: url(img/scrolltotopbtn.png) no-repeat right 75% rgba(254,151,96,0.0);
    transition:background 0.3s ease;
}
#scroll-to-top.active:hover{
    background: url(img/scrolltotopbtn.png) no-repeat right 75% rgba(254,151,96,0.15);
}
.framedBody .wrapper{
    margin:0 0;
    width:1000px;
}
.frame-close-btn{
background: url('img/frame-close-btn.png');
    width: 32px;
    height: 32px;
    float:right;
    display: inline-block;
    position:absolute;
    right:6px;
    top:6px;
    cursor: pointer;
}

.logo{
    width:379px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: -1px;
    padding-right: 68px;
}
.uslovia-list{
    width:542px;
    min-height:10px;
    display: block;
    margin: 0 auto;

}
.side-left-discount{
    padding-right:31px;
}
.uslovia-list-item{
    padding-left:88px;
    background-position: 55px 5px;
    background-image: url("img/check-in-list.png");
    background-repeat: no-repeat;
    line-height:22px;
    margin-top:27px;
    font-size:14px;
    color:#424242;
}
.discount-head{
    width:100%;
    background:url('img/strange-pattern.jpg');
    height:49px;
    line-height:49px;
    text-align: center;
    font-size:16px;
    box-shadow: inset 0 0 19px -5px rgba(0,0,0,0.2);
    font-weight:600;
}
.discount-box{
    display: inline-block;
    width: 100%;
    box-shadow:0 0 20px -10px rgba(0, 0, 0, 0.3)
}
.discount-list-green,.discount-list-blue {
    background: #fff;
    padding-left:31px;
    padding-top:7px;
    padding-bottom:20px;
    padding-right:65px;
}
.assortment_org_list li:before{
    content: '';
    width:5px;
    height:4px;
    border-radius:2px;
    background-color: #FF8530;
    position: absolute;
    margin-top:11px;
    margin-left:-23px;
}
.assortment_org_list li{
    line-height: 22px;
    margin-top:12px;
    padding-left:23px;
}
.discount-list-green{
    border-top:2px solid #41bb7e;
}
.discount-list-blue {
     border-top:2px solid #00bef2;
}
.discount-list-blue:before{
    content: '';
    border-right: 6px solid transparent;
    border-top: 4px solid #00bef2;
    border-left: 6px solid transparent;
    position:relative;
    top:-2px;
    left:20px;
}
.discount-list-green:before{
    content: '';
    border-right: 6px solid transparent;
    border-top: 4px solid #41bb7e;
    border-left: 6px solid transparent;
    position:relative;
    top:-2px;
    left:20px;
}
.discount-wrapper{
    display: inline-block;
}
.shipping-row{
    height:109px;
    width: 100%;
    box-shadow: 0px 9px 26px -5px rgba(0, 0, 0, 0.2);
    margin-bottom:27px;
    background: #fff;
    font-size:14px;
}
.shipping-row-info{

    width:870px;
    padding-right:20px;
}
.shipping-info-head{
    line-height: 35px;
    font-weight:600;
}
.shipping-info-info{
    line-height:22px;
}
.shipping-row img{
    width:278px;
    height:109px;
}
.shipping-img{
    width:278px;
    margin-right:18px;
    height:109px;
    box-shadow: 0px 9px 26px -5px rgba(0, 0, 0, 0.2);

}
.shipping-bg{
    background-image: url('/styles/img/404.jpg');
    background-repeat: no-repeat;
    background-position: left bottom;
    margin: -20px;
    padding:20px;
}
.contacts-box{
    margin:0 16px;
    box-shadow: 0px 5px 26px -5px rgba(0, 0, 0, 0.1);
}
.contacts-wrapper{
    margin:0 -16px;
    height:720px;
}
.contacts-wrapper .s-list li{
    padding:10px 38px;
    min-height:70px;
    margin-top:0;
    width:100%;
    background-position: 12px 18px;
    line-height:19px;
    font-size:14px;
}
.contacts-wrapper .s-list li:nth-child(2n){
    background-color: #fcfcfc;
}
.tleft{
    text-align: left;
    padding-left:20px;
    font-size:15px;
}
.contacts-white-head{
    height:63px;
    width:100%;
    line-height:63px;
    font-size:16px;
    font-weight:600;
}
.contacts-head{
    height:63px;
    width:100%;
    box-shadow:inset 0 10px 20px -20px rgba(0,0,0,0.3);
}
.contacts-head-sber{
    background:#f6faf5 url('img/sber.png') no-repeat 20px center;
}
.contacts-head-prom{
    background:#fef8f3 url('img/prom.png') no-repeat 20px center;
}
.contacts-box p{
    height: 63px;
    line-height:63px;
    margin:0;
    padding-left: 70px;
    background-repeat: no-repeat;
    background-position: 26px center;
}
.contacts-place{
    background-image: url('img/contacts-place.png');
}
.contacts-phone{
    background-image: url('img/contacts-phone.png');
}
.contacts-mail{
    background-image: url('img/contacts-mail.png');
}
.contacts-add{
    font-size:13px;
    font-weight:500;
}